RewriteEngine On

# Redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Remove unnecessary www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^https://www\.(.*)$ https://$1 [R=301,L]

# Redirect to jakubsmutny.cz
RewriteCond %{HTTP_HOST} ^jakubsmutny.cz$ [NC]
RewriteRule ^((?!main).*)$ /main/$1 [NC]

# Redirect to rubikovakostka.jakubsmutny.cz
RewriteCond %{HTTP_HOST} ^rubikovakostka.jakubsmutny.cz$ [NC]
RewriteRule ^((?!rubikovakostka).*)$ /rubikovakostka/$1 [NC]
